#porcentagem-box {

    max-width: 800px;

}

#porcentagem-box-content {

    max-width: 800px;
}
#porcentagem-line {

    max-width: 862px;
}

#partition {

    margin-bottom: 30px;
}

#partition div {

    height: 3px;
    background-color: blue;
}

#first-button {

    margin-bottom: 0;
}

.porcentagens {

    margin-bottom: 30px;
}

#porcentagem-error {

    margin-bottom: 30px;
}

@media (min-width: 600px){

    #porcentagem-box {

        min-height: 375px;
    }
}
