footer{
  
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center; 
    height: 100px;
}

.footer-content {
    text-decoration: none;
    padding: 30px;
}

footer a{

    text-decoration: none;
    color: white;
    font-weight: bold;

}
