#header {

    background-color: rgb(30, 30, 30);
    color: white;
    height: 45px;
    padding: 20px;
}

#title {

    float: left;
    margin-left: 55px;
}

.navLink {

    text-decoration: none;
    color: white;
}