#header {
    background-color: rgb(30, 30, 30);
    color: white;
    height: 50px;
    padding: 20px;
}

#title{

    float: left;
    margin-left: 75px;
    cursor: pointer;
}

#button {

    float: right;
    padding: 5px 10px;
    margin-right: 75px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
