#header {
    background-color: rgb(30, 30, 30);
    color: white;
    height: 50px;
    padding: 20px;
    margin-bottom: 50px;
}

#title {

    float: left;
    margin-left: 75px;
    cursor: pointer;
}