* {
  margin: 0;
  padding: 0;
}

.Container {

    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    min-height: calc(100vh - 310px);
}

.App {

    background-color: #fafafa;
}

.page-link {

    text-decoration: none;
    color:#4cb1ef;
    font-weight: bold;
}

.top-line {

    height: 5px;
    background-color: blue;
}

.box {
    
    min-height: 330px;
}

.box-title {

    text-align: center;
    margin-bottom: 20px;
}

.box {

    padding: 30px;
    max-width: 600px;
    min-height: 430px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.5);
}

.input {

    border: 1px solid #4cb1ef;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.button {

    text-decoration: none;
    border: none;
    color: white;
    background-color: #4cb1ef;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.button:disabled {

    background-color: grey;
    color: black;
}

.input:focus{

    border: 1px solid blue;
}

.error {

    background-color: #ff5252;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 25px;
    border-radius: 5px;
}

.line-box {

    max-width: 662px;
    margin: 0 auto;
}

.box-content {

    max-width: 600px;
    margin: 0 auto;
}

.row input {

    width: calc(100% - 12px);
    height: 25px;
}

.row-full input {

    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.row-full p {

    margin-top: 10px;
}

.row div p {

    text-align: center;
    padding-top: 8px;
}

.row-full p {

    text-align: center;
}

.x {
    border: 1px solid white;
    background-color: #4cb1ef;
    color: white;
}

@media (min-width: 600px){

    .box{
    
        min-height: 330px;
    }

    .row {

        display: flex;
        justify-content: space-between;
    }
     
    .row div {
    
        margin-top: 5px;
        flex: 1;
    
    }
    
    .row div p {
    
        text-align: center;
    }
    
    .row div input {
        
        height: 20px;
        max-width: 200px;
    }
    
    .row-full {
    
        display: flex;
        justify-content: center;
    }
    
    .row-full div {
    
        margin-top: 5px;
        flex: 1;
    }

}